<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="app.js"></script>
<script src="changePwdFormCtrl.js"></script>
<body>

<div ng-app="myApp" ng-controller="changePwdFormCtrl as changePwdCtrl">
  <form novalidate>
  	Username:<br>
  	<input type="text" ng-model="changePwd.username"><br>
    Old Password:<br>    
    <input type="password" ng-model="changePwd.oldPassword"><br>
    New Password:<br>   
    <input type="password" ng-model="changePwd.newPassword"><br>
    Confirm Password:<br>   
    <input type="password" ng-model="changePwd.confirmPassword"><br>
    
    <button ng-click="changePwdCtrl.confirm(changePwd)">Confirm</button>
    <button ng-click="changePwdCtrl.cancel()">Cancel</button>
  </form>
  
</div>


</body>
</html>
