<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="changePwdFormCtrl">
  <form novalidate>
  	Username:<br>
  	<input type="text" ng-model="changePwd.username"><br>
    Old Password:<br>    
    <input type="password" ng-model="changePwd.oldPassword"><br>
    New Password:<br>   
    <input type="password" ng-model="changePwd.newPassword"><br>
    Confirm Password:<br>   
    <input type="password" ng-model="changePwd.newPassword"><br>
    
    <button ng-click="confirm()">Confirm</button>
    <button ng-click="cancel()">Cancel</button>
  </form>
  
</div>

<script>
var app = angular.module('myApp', []);
app.controller('changePwdFormCtrl', function($scope) {
    $scope.cancel = function() {
        //Redirect to home.
    	alert("Redirecting to home..");
    };
    
    $scope.confirm = function() {
        alert("Password updated successfully!");
    };
});
</script>

</body>
</html>
