<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="app.js"></script>
<script src="registrationFormCtrl.js"></script>
<body>

<div ng-app="myApp" ng-controller="registrationFormCtrl as regCtrl">
  <form novalidate>
  	Username:    <input type="text" ng-model="regForm.username"><br><br>
    Password:    <input type="password" ng-model="regForm.password"><br><br>
    
    <hr>
    
    Name:<br>
    <input type="text" ng-model="regForm.name"><br>
    Gender:<br>
    <!-- <input type="text" ng-model="regForm.gender"><br> -->
    <select ng-model="regForm.gender" ng-options="x for x in regCtrl.sex"></select> <br>
    Date of Birth:<br>
    <input type="text" ng-model="regForm.dob"><br>
    Address:<br>
    <input type="text" ng-model="regForm.address"><br>
    Mobile:<br>
    <input type="text" ng-model="regForm.mobile"><br>
    Email:<br>
    <input type="text" ng-model="regForm.email">
    <br><br>
    <button ng-click="regCtrl.register(regForm)">Register</button>
    <button ng-click="regCtrl.reset(regForm)">Reset</button>
  </form>
  
</div>


</body>
</html>
